{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    {% if searched_images %}
    <h2 class="header">Search for pictures of different categories</h2>
    <h2 class="header-alt">Found {{ searched_images|length }} image(s) in this category {{message}}</h2>

    <div id="images">
        <div id="image-list">
            {% for image in searched_images %}
            <div class="col-xs-6 col-md-4 col-sm-6 col-lg-4">
                <img onclick="showModal('{{image.name}}','{{image.description}}','{{image.image.url}}','{{image.location}}','{{image.category}}')"
                    class="image" src="{{image.image.url}}">
            </div>
            {% endfor%}

        </div>
    </div>
        {% else %}
        <h2 class="header-alt">No images were found for this category </h2>
        {% endif %}

</div>
{% endblock %}