{%extends 'base.html'%}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div>
        <p>Because like paintings, pictures speak a thousand words!</p>
    </div>
    <div class="images">
        <div id="all-images">
            {% for image in images %}
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <img class="img-responsive" src="{{image.image.url}}" style="width: 500px;height:500px;">
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}