<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <div><h1>Gallery App</h1></div>
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'index' %}">Home</a>
      <a class="navbar-brand" href="/admin">Admin Dashboard</a>
    </div>
    <div class = "col-sm-4 col-md-4 navbar-right">
        <form class="navbar-form" role ="search", action ="{% url 'image_search' %}">
            <div class = "input-group">
                <input type="text" class= "form-control" placeholder= "Search" name= "category">
                <div class="input-group-btn">
                    <button class="btn btn-outline-info" type="submit"> Search</button>
                </div>
            </div>
        </form>
    </div>
  </div>
</nav>
</body>
</html